<div class="admin_controls">
  <p><%= current_admin.email %> &bull; <%= link_to "Admin", admin_root_path %> &bull; <%= link_to "Settings", edit_admin_registration_path %> &bull; <%= link_to "Sign Out", destroy_admin_session_path, :method => :delete %></p>
</div>